<div  ng-init="showattendance()">
<p>Edit Student   attendance</p>
	<div >
		<form ng-submit="updateattendance()">
    <div >
      USN: 
      <input type="text"  ng-model="attendance.usn" value="attendance.usn">
    </div>

    <div >
       Name:
      <input type="text"  value="attendance.name" ng-model="attendance.name">
    </div>

    <div >
       Subject 1:
      <input type="text"  value="attendance.sub1" ng-model="attendance.sub1">
    </div>

    <div >
       Subject 2:
      <input type="text"  ng-model="attendance.sub2" value="attendance.sub2">
    </div>

    <div >
         Subject 3:
        <input type="text"  value="attendance.sub3" ng-model="attendance.sub3">
    </div>

    <button type="submit"  >Update</button>
    <a href="#/attendance" > Cancel</a>
</form>		
    <div>
<div>
